<mat-toolbar color="accent">Detalles de Superhéroes</mat-toolbar>
<div class="backdrop" *ngIf="!loading && hero">
  <div class="preview-grid">
    <div class="column image-column">
      <img [src]="hero.images.lg" [alt]="hero.name" />
      <button class="back-button" (click)="goBack()">
        <!-- <mat-icon>arrow_back</mat-icon> -->
        Volver
      </button>
    </div>

    <div class="column info-column">
            <div class="section">
              <h1>{{ hero.name }}</h1>
      <p class="slug">{{ hero.slug }}</p>
      </div>


      <div class="section">
        <h2>Biografía</h2>
        <p>
          <strong>Nombre completo:</strong>
          {{ display(hero.biography.fullName) }}
        </p>
        <p>
          <strong>Alter egos:</strong> {{ display(hero.biography.alterEgos) }}
        </p>
        <p>
          <strong>Alias:</strong>
          {{
            hero.biography.aliases.length > 0
              ? hero.biography.aliases.join(", ")
              : "No disponible"
          }}
        </p>
        <p>
          <strong>Lugar de nacimiento:</strong>
          {{ display(hero.biography.placeOfBirth) }}
        </p>
        <p>
          <strong>Primera aparición:</strong>
          {{ display(hero.biography.firstAppearance) }}
        </p>
        <p><strong>Editor:</strong> {{ display(hero.biography.publisher) }}</p>
        <p>
          <strong>Alineación:</strong> {{ display(hero.biography.alignment) }}
        </p>
      </div>

      <div class="section">
        <h2>Apariencia</h2>
        <p><strong>Género:</strong> {{ display(hero.appearance.gender) }}</p>
        <p><strong>Raza:</strong> {{ display(hero.appearance.race) }}</p>
        <p>
          <strong>Color de ojos:</strong>
          {{ display(hero.appearance.eyeColor) }}
        </p>
        <p>
          <strong>Color de cabello:</strong>
          {{ display(hero.appearance.hairColor) }}
        </p>
        <p><strong>Altura:</strong> {{ display(hero.appearance.height[1]) }}</p>
        <p><strong>Peso:</strong> {{ display(hero.appearance.weight[1]) }}</p>
      </div>
    </div>
    <div class="column info-column">
      <div class="section">
        <h2>Trabajo</h2>
        <p><strong>Ocupación:</strong> {{ display(hero.work.occupation) }}</p>
        <p><strong>Base:</strong> {{ display(hero.work.base) }}</p>
      </div>

      <div class="section">
        <h2>Conexiones</h2>
        <p>
          <strong>Afiliaciones:</strong>
          {{ display(hero.connections.groupAffiliation) }}
        </p>
        <p>
          <strong>Parientes:</strong> {{ display(hero.connections.relatives) }}
        </p>
      </div>

      <div class="section">
        <h2>Estadísticas</h2>
        <div *ngFor="let stat of hero.powerstats | keyvalue" class="stat">
          <label>{{ stat.key | titlecase }}</label>
          <mat-progress-bar
            [value]="parseStat(stat.value)"
            mode="determinate"
            color="accent"
          ></mat-progress-bar>
        </div>
      </div>
    </div>
  </div>
</div>
<app-spinner
  *ngIf="loading"
></app-spinner>
